{% extends 'base.html.twig' %}

{% block body %}
    <h1>Crear Liquidación</h1>
                    {% if ayuda is defined and ayuda != "" %}
                <a href="#" data-toggle="modal"  data-target="#ayudaMessage"><i class="material-icons md-inherit md-48">help</i></a>
            {% endif %}
    {{ form_start(form, {'attr': {'class': 'progress-form'}}) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('liquidacion_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
